{
  "YOONIK_SESSION_SECRET": "{{A random long string that is used to sign the session token from Auth0}}",
  "YOONIK_AUTHENTICATION_API_URL": "{{URL for YooniK Authentication APIs}}",
  "YOONIK_AUTHENTICATION_API_KEY": "{{Your YooniK API key for accessing the YooniK APIs (please contact support@yoonik.me).}}",
  "APP_SECRET": "{{A random long string that is used as secret key to this flask app}}"
}
